@page "/"
@page "/feiras"
@using Components
@using System.Security.Claims
@inject IFeiraService FeiraService
@inject IFeiranteService FeiranteService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationState
@inject ILocalStorageService LocalStorage

<div>
    <div class="home-container">
        <NavBar MineFeirasFilter="true" @bind-FilterParam="@filterParam" @bind-ShowMineParam="@ShowMineParam"/>
        <div style="display: flex; width: 100%; height: 87px">
            <div class="date-container">
                @foreach (var data in this.datas)
                {
                    <div class="home-container08">
                        <button class="date-button button">
                            <span class="home-text06">
                                <span>@culture.DateTimeFormat.GetDayName(@data.DayOfWeek)</span>
                                <br />
                                <span>@data.Day/@data.Month</span>
                                <br />
                            </span>
                        </button>
                    </div>
                }
            </div>
        </div>
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        @if(ShowMineParam == true)
        {
        @foreach(var feira in this.feiras.Where(feira => feira.DataFim >= DateTime.Now && feira.NomeFeira.IndexOf(filterParam, StringComparison.OrdinalIgnoreCase) >= 0))
        {
                <div class="home-container15">
                    <button class="imagem-feira" onclick="@(() => GoToFeira(feira.ID))">
                        <img alt="image"
                        src="@feira.Categoria.Foto"
                        class="home-image01" />
                    </button>
                    <div class="home-container17">
                        <span class="home-text36">
                            @feira.NomeFeira
                        </span>
                        @if(feira.DataInicio > DateTime.Now)
                        {
                            <span style="color: red" class="home-text36">(Começará a @feira.DataInicio.Day/@feira.DataInicio.Month/@feira.DataInicio.Year)</span>
                        }
                        <AuthorizeView>
                            <Authorized>
                                @if(@context.User.IsInRole("Cliente"))
                                {
                                    <button class="home-button07 button">
                                        <svg viewBox="0 0 1024 1024" class="home-icon">
                                            <path
                                            d="M550.272 66.432c-3.925-8.064-10.581-15.019-19.371-19.371-21.12-10.411-46.72-1.749-57.131 19.371l-121.941 246.997-272.683 39.893c-8.875 1.237-17.536 5.419-24.363 12.416-16.469 16.896-16.085 43.904 0.768 60.331l197.248 192.128-46.549 271.445c-1.536 8.832-0.256 18.389 4.309 27.051 10.965 20.864 36.779 28.885 57.643 17.92l243.797-128.213 243.84 128.213c7.936 4.224 17.408 5.931 27.051 4.309 23.211-3.968 38.827-26.027 34.859-49.28l-46.549-271.445 197.248-192.128c6.443-6.229 11.051-14.677 12.459-24.405 3.413-23.296-12.715-44.971-36.053-48.384l-272.64-39.851zM512 181.717l93.568 189.611c6.443 13.013 18.603 21.291 32.085 23.339l209.323 30.592-151.424 147.499c-10.411 10.155-14.549 24.277-12.288 37.76l35.712 208.341-187.136-98.432c-12.843-6.741-27.605-6.315-39.723 0l-187.136 98.432 35.712-208.341c2.475-14.336-2.517-28.203-12.288-37.76l-151.424-147.499 209.365-30.635c14.336-2.091 25.984-11.093 32.085-23.296z">
                                            </path>
                                        </svg>
                                    </button>
                                }
                                else
                                {
                                    <h4 style="align-self: center; margin-left: 10px">@feira.Stands.Count()/@feira.NumeroMaximoFeirantes</h4>
                                }
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>
        }
        }
        else
        {
            @if(feirante?.Organizador ?? false)
            {
                    @foreach (var feira in this.feiras.Where(feira => feira.DataFim >= DateTime.Now && feira.NomeFeira.IndexOf(filterParam,
                   StringComparison.OrdinalIgnoreCase) >= 0 && feira.FeiranteID == feirante.ID))
                    {
                <div class="home-container15">
                    <button class="imagem-feira" onclick="@(() => GoToFeira(feira.ID))">
                        <img alt="image"
                        src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGNvbXB1dGVyfGVufDB8fHx8MTY3MTY0ODk3Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=400"
                        class="home-image01" />
                    </button>
                    <div class="home-container17">
                        <span class="home-text36">
                            @feira.NomeFeira
                        </span>
                        @if(feira.DataInicio > DateTime.Now)
                        {
                            <span style="color: red" class="home-text36">(Começará a @feira.DataInicio.Day/@feira.DataInicio.Month/@feira.DataInicio.Year)</span>
                        }
                        <AuthorizeView>
                            <Authorized>
                                @if(@context.User.IsInRole("Cliente"))
                                {
                                    <button class="home-button07 button">
                                        <svg viewBox="0 0 1024 1024" class="home-icon">
                                            <path
                                            d="M550.272 66.432c-3.925-8.064-10.581-15.019-19.371-19.371-21.12-10.411-46.72-1.749-57.131 19.371l-121.941 246.997-272.683 39.893c-8.875 1.237-17.536 5.419-24.363 12.416-16.469 16.896-16.085 43.904 0.768 60.331l197.248 192.128-46.549 271.445c-1.536 8.832-0.256 18.389 4.309 27.051 10.965 20.864 36.779 28.885 57.643 17.92l243.797-128.213 243.84 128.213c7.936 4.224 17.408 5.931 27.051 4.309 23.211-3.968 38.827-26.027 34.859-49.28l-46.549-271.445 197.248-192.128c6.443-6.229 11.051-14.677 12.459-24.405 3.413-23.296-12.715-44.971-36.053-48.384l-272.64-39.851zM512 181.717l93.568 189.611c6.443 13.013 18.603 21.291 32.085 23.339l209.323 30.592-151.424 147.499c-10.411 10.155-14.549 24.277-12.288 37.76l35.712 208.341-187.136-98.432c-12.843-6.741-27.605-6.315-39.723 0l-187.136 98.432 35.712-208.341c2.475-14.336-2.517-28.203-12.288-37.76l-151.424-147.499 209.365-30.635c14.336-2.091 25.984-11.093 32.085-23.296z">
                                            </path>
                                        </svg>
                                    </button>
                                }
                                else
                                {
                                    <h4 style="align-self: center; margin-left: 10px">@feira.Stands.Where(stand => stand.ativo).Count()/@feira.NumeroMaximoFeirantes</h4>
                                }
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>


                    }

                <div class="home-container15">
                    <button class="add-feira-container button" @onclick="@(() => GoToCriarFeira())">
                        <span style="color: #e5412a; font-size: 20px; font-syle: normal; text-align: center; font-weight: 700;">
                            Adicionar Feira
                        </span>
                        <svg viewBox="0 0 877.7142857142857 1024" class="minhas-feiras-icon">
                            <path
                                d="M694.857 548.571v-73.143c0-20-16.571-36.571-36.571-36.571h-146.286v-146.286c0-20-16.571-36.571-36.571-36.571h-73.143c-20 0-36.571 16.571-36.571 36.571v146.286h-146.286c-20 0-36.571 16.571-36.571 36.571v73.143c0 20 16.571 36.571 36.571 36.571h146.286v146.286c0 20 16.571 36.571 36.571 36.571h73.143c20 0 36.571-16.571 36.571-36.571v-146.286h146.286c20 0 36.571-16.571 36.571-36.571zM877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z">
                            </path>
                        </svg>
                    </button>
                </div>
            }
        }
            </div>
    </div>
</div>

<style>

    .minhas-feiras-icon {
        fill: #e5412a;
        width: 107px;
        height: 79px;
        align-self: center;
    }

    .add-feira-container:hover {
        background-color: gray;
    }

    .add-feira-container {
        width: 399px;
        height: 213px;
        display: flex;
        text-align: center;
        align-items: center;
        transition: 0.3s;
        border-color: white;
        flex-direction: row;
        justify-content: center;
        background-color: white;
    }

    .add-feira-icon {
        fill: #e5412a;
        width: 107px;
        height: 79px;
        align-self: center;
    }

    .add-feira {
        width: 399px;
        height: 213px;
        display: flex;
        text-align: center;
        align-items: center;
        transition: 0.3s;
        border-color: white;
        flex-direction: row;
        justify-content: center;
    }

    .home-container {
        display: flex;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        background-color: #ebc39c;
    }

    .home-container01 {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: flex-start;
        background-color: #0f8a82;
        border-color: #ebc39c;
        border-bottom-width: 5px;
    }

    .home-container02 {
        flex: 0 0 auto;
        height: 77px;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .home-container03 {
        flex: 0 0 auto;
        width: 181px;
        display: flex;
        align-self: center;
        margin-top: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-thq-dropdown {
        width: 149px;
        cursor: pointer;
        height: 80px;
        display: inline-block;
        position: relative;
        align-self: center;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .home-dropdown-toggle {
        fill: #595959;
        color: #595959;
        width: 135px;
        height: 94px;
        display: inline-flex;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius2);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
        justify-content: center;
    }

    .home-image {
        width: 88px;
        height: 82px;
        object-fit: cover;
    }

    .home-dropdown-list {
        left: 0%;
        width: max-content;
        display: none;
        z-index: 100;
        position: absolute;
        min-width: 100%;
        transition: 0.3s;
        align-items: stretch;
        border-color: #D9D9D9;
        border-width: 1px;
        border-radius: var(--dl-radius-radius-radius4);
        flex-direction: column;
        list-style-type: none;
        background-color: var(--dl-color-gray-white);
        list-style-position: inside;
    }

    .home-dropdown {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .home-dropdown-toggle1 {
        fill: #595959;
        color: #595959;
        width: 100%;
        height: 100%;
        display: inline-flex;
        transition: 0.3s;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius4);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
    }

    .home-dropdown-toggle1:hover {
        fill: #fff;
        color: #fff;
        background-color: #595959;
    }

    .home-text {
        width: 100%;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }

    .home-dropdown1 {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .home-dropdown-toggle2 {
        fill: #595959;
        color: #595959;
        width: 100%;
        height: 100%;
        display: inline-flex;
        transition: 0.3s;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius4);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
    }

    .home-dropdown-toggle2:hover {
        fill: #fff;
        color: #fff;
        background-color: #595959;
    }

    .home-text01 {
        width: 100%;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }

    .home-dropdown2 {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .home-dropdown-toggle3 {
        fill: #595959;
        color: #595959;
        width: 100%;
        display: inline-flex;
        transition: 0.3s;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius4);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
    }

    .home-dropdown-toggle3:hover {
        fill: #fff;
        color: #fff;
        background-color: #595959;
    }

    .home-text02 {
        width: 100%;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    .home-container04 {
        flex: 0 0 auto;
        width: 75%;
        height: 100%;
        display: flex;
        align-self: center;
        align-items: flex-start;
        border-color: #ebc39c;
        border-left-width: 5px;
        border-right-width: 5px;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-container05 {
        width: 45%;
        height: 100px;
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-button {
        color: var(--dl-color-gray-white);
        align-self: flex-end;
        transition: 0.3s;
        background-color: #562a2a;
    }

    .home-button:hover {
        color: #e5412a;
        border-color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-white);
    }

    .home-text03 {
        font-style: normal;
        font-weight: 600;
    }

    .home-container06 {
        width: 303px;
        height: 100px;
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-textinput {
        width: 294px;
        height: 34px;
        font-size: 16px;
        align-self: center;
    }

    .date-container {
        width: 100%;
        padding: 3px;
        display: flex;
        align-items: center;
        border-color: #0f8a82;
        border-style: dashed;
        border-width: 3px;
        justify-content: space-between;
    }

    .home-container08 {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .date-button{
        color: #562a2a;
        width: 100%;
        height: auto;
        font-size: 25px;
        align-self: center;
        text-align: center;
        transition: 0.3s;
        border-color: #ebc39c;
        background-color: #ebc39c;
    }

    .date-button:hover {
        color: #e5412a;
        background-color: var(--dl-color-gray-white);
    }

    .home-text06 {
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-container09 {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-button02 {
        color: #562a2a;
        width: 100%;
        height: 77px;
        font-size: 25px;
        align-self: center;
        text-align: center;
        transition: 0.3s;
        border-color: #ebc39c;
        background-color: #ebc39c;
    }

    .home-button02:hover {
        color: #e5412a;
        background-color: var(--dl-color-gray-white);
    }

    .home-text11 {
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-container10 {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-button03 {
        color: #562a2a;
        width: 100%;
        height: 77px;
        font-size: 25px;
        align-self: center;
        text-align: center;
        transition: 0.3s;
        border-color: #ebc39c;
        background-color: #ebc69c;
    }

    .home-button03:hover {
        color: #e5412a;
        background-color: var(--dl-color-gray-white);
    }

    .home-text16 {
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-container11 {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-button04 {
        color: #562a2a;
        width: 100%;
        height: 77px;
        font-size: 25px;
        align-self: center;
        text-align: center;
        transition: 0.3s;
        border-color: #ebc39c;
        background-color: #ebc39c;
    }

    .home-button04:hover {
        color: #e5412a;
        background-color: var(--dl-color-gray-white);
    }

    .home-text21 {
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-container12 {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-button05 {
        color: #562a2a;
        width: 100%;
        height: 77px;
        font-size: 25px;
        align-self: center;
        text-align: center;
        transition: 0.3s;
        border-color: #ebc39c;
        background-color: #ebc39c;
    }

    .home-button05:hover {
        color: #e5412a;
        background-color: var(--dl-color-gray-white);
    }

    .home-text26 {
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-container13 {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home-button06 {
        color: #562a2a;
        width: 100%;
        height: 77px;
        font-size: 25px;
        align-self: center;
        text-align: center;
        transition: 0.3s;
        border-color: #ebc39c;
        background-color: #ebc39c;
    }

    .home-button06:hover {
        color: #e5412a;
        background-color: var(--dl-color-gray-white);
    }

    .home-text31 {
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .feiras-row {
        width: 100%;
        height: 261px;
        display: flex;
        align-self: flex-start;
        margin-top: var(--dl-space-space-unit);
        align-items: flex-start;
        flex-direction: row;
    }

    .home-container15 {
        width: 490px;
        height: 261px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px;
    }

    .imagem-feira {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
    }

    .home-image01 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container17 {
        flex: 0 0 auto;
        width: 396px;
        height: 43px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text36 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button07 {
        height: 100%;
        display: flex;
        transition: 0.3s;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container18 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container19 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image02 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container20 {
        flex: 0 0 auto;
        width: 399px;
        height: 46px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text37 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button08 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon02 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container21 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container22 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image03 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container23 {
        flex: 0 0 auto;
        width: 401px;
        height: 48px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text38 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button09 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon04 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container24 {
        width: 100%;
        height: 255px;
        display: flex;
        align-self: flex-start;
        margin-top: var(--dl-space-space-unit);
        align-items: flex-start;
        flex-direction: row;
    }

    .home-container25 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container26 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image04 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container27 {
        flex: 0 0 auto;
        width: 400px;
        height: 44px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text39 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button10 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon06 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container28 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container29 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image05 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container30 {
        flex: 0 0 auto;
        width: 397px;
        height: 42px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text40 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button11 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon08 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container31 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container32 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image06 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container33 {
        flex: 0 0 auto;
        width: 399px;
        height: 43px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text41 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button12 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon10 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container34 {
        width: 100%;
        height: 255px;
        display: flex;
        align-self: flex-start;
        margin-top: var(--dl-space-space-unit);
        align-items: flex-start;
        flex-direction: row;
    }

    .home-container35 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container36 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image07 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container37 {
        flex: 0 0 auto;
        width: 400px;
        height: 44px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text42 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button13 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon12 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container38 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container39 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image08 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container40 {
        flex: 0 0 auto;
        width: 397px;
        height: 42px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text43 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button14 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon14 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }

    .home-container41 {
        width: 503px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container42 {
        flex: 0 0 auto;
        width: 397px;
        height: 210px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .home-image09 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home-container43 {
        flex: 0 0 auto;
        width: 399px;
        height: 43px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .home-text44 {
        color: #562a2a;
        align-self: center;
        font-style: normal;
        text-align: center;
        font-weight: 700;
    }

    .home-button15 {
        height: 100%;
        display: flex;
        border-color: #ebc39c;
        flex-direction: row;
        background-color: #ebc39c;
    }

    .home-icon16 {
        fill: #ffff00;
        width: 100%;
        height: 100%;
    }
</style>


@code {

    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("pt-PT");

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    private bool ShowMineParam = true;

    private List<Feira> feiras = new List<Feira>();
    private List<DateTime> datas = new List<DateTime>()
    {
    DateTime.Now,
    DateTime.Now.AddDays(1),
    DateTime.Now.AddDays(2),
    DateTime.Now.AddDays(3),
    DateTime.Now.AddDays(4),
    DateTime.Now.AddDays(5),
    };

    string filterParam = string.Empty;
    Feirante? feirante;

    protected override async Task OnInitializedAsync()
    {
        var feiras = await FeiraService.GetFeiras();
        if (feiras != null)
        {
            Console.WriteLine("Tenho as feiras");
            this.feiras = feiras;
        }

        var auth = await authenticationState;
        if(auth.User.IsInRole("Feirante"))
        {
            var id = Int32.Parse(auth.User.FindFirst(claim => claim.Type == ClaimTypes.NameIdentifier)?.Value ?? "-1");
            if(id != -1)
            {
                feirante = await FeiranteService.GetFeirante(id);
            }
        }
    }

    private void GoToFeira(int feiraID)
    {
        NavigationManager.NavigateTo($"/standsfeira/{feiraID}");
    }

    private async Task LogOut()
    {
        await LocalStorage.RemoveItemAsync("token");
        Console.WriteLine("Nao ta a dar");
        NavigationManager.NavigateTo("/feiras", true);
    }

    private void GoToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void GoToCriarFeira()
    {
        NavigationManager.NavigateTo("/criarfeira");
    }

}
