@page "/inscreverfeira/{id:int}"
@using System.Security.Claims
@using Components
@inject IProdutoService ProdutoService
@inject IFeiraService FeiraService
@inject IFeiranteService FeiranteService
@inject IJSRuntime JS
@inject NavigationManager Nav
@attribute [Authorize(Roles = "Feirante")]

<AuthorizeView>
  <div class="por-produto-em-feira-container">
    <NavBar />
    <div class="por-produto-em-feira-container07">
      <div class="por-produto-em-feira-container08">
        <h1 class="por-produto-em-feira-text06">
          @feira.NomeFeira
        </h1>
      </div>
      <div class="por-produto-em-feira-container09">
        <h1 class="por-produto-em-feira-text07">@DateTime.Now.Day/@DateTime.Now.Month</h1>
      </div>
    </div>
    <div class="por-produto-em-feira-container10">
      <div class="por-produto-em-feira-container11">
        <div class="por-produto-em-feira-container12">
          <div class="por-produto-em-feira-container13">
            <img alt="image"
              src="@this.feirante.Foto"
              class="por-produto-em-feira-textarea textarea" style="object-fit: contain;"/>
          </div>
          <div class="por-produto-em-feira-container14">
            <h1 class="por-produto-em-feira-text08">@context.User.Identity.Name.ToUpper()</h1>
          </div>
        </div>
      </div>
      <div class="por-produto-em-feira-container15">
        <div class="por-produto-em-feira-container16">
          <h1 class="por-produto-em-feira-text09">
            Indicar produtos de stand:
          </h1>
        </div>

        @foreach (var produto in this.produtos)
        {
          <div class="por-produto-em-feira-container17">
            <div class="por-produto-em-feira-container18">
              <img alt="image"
              src="@produto.Foto"
              class="por-produto-em-feira-image1" style="object-fit: contain;"/>
            </div>
            <div class="por-produto-em-feira-container19">
              <div class="por-produto-em-feira-container20">
                <h1 class="por-produto-em-feira-text10">@produto.Nome</h1>
              </div>
            </div>
            <div class="por-produto-em-feira-container21">
                <div class="adicionar-destacar-container">
                  <div class="por-produto-em-feira-container22">
                    <div class="por-produto-em-feira-container23">
                      <h1 class="por-produto-em-feira-text11">Adicionar:</h1>
                    </div>
                    <div class="por-produto-em-feira-container24">
                      <div class="por-produto-em-feira-container25">
                        <input type="checkbox" class="por-produto-em-feira-checkbox"
                        @onchange="(async eventArgs => await OnCheckedProduct(produto.ID, eventArgs.Value))" />
                      </div>
                    </div>
                  </div>
                  <div class="por-produto-em-feira-container26">
                    <div class="por-produto-em-feira-container27">
                      <h1 class="por-produto-em-feira-text12">Destacar:</h1>
                    </div>
                    <div class="por-produto-em-feira-container28">
                      <div class="por-produto-em-feira-container29">
                        <input type="checkbox" class="por-produto-em-feira-checkbox1" id="destaque-@(produto.ID)" />
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="adicionar-destacar-container">
                    <div class="por-produto-em-feira-container26">
                      <div class="por-produto-em-feira-container27">
                        <h1 class="por-produto-em-feira-text12">Quantidade:</h1>
                      </div>
                      <div class="por-produto-em-feira-container28">
                        <div class="por-produto-em-feira-container29">
                          <input type="number" name="quantidade" id="quantidade-produto-@(produto.ID)" class="input-number" value="0" />
                        </div>
                      </div>
                    </div>
                    <div class="por-produto-em-feira-container26">
                      <div class="por-produto-em-feira-container27">
                        <h1 class="por-produto-em-feira-text12">Preco:</h1>
                      </div>
                      <div class="por-produto-em-feira-container28">
                        <div class="por-produto-em-feira-container29">
                      @* <input type="checkbox" class="por-produto-em-feira-checkbox1" /> *@
                          <input type="number" name="preco" id="preco-produto-@(produto.ID)" class="input-number" value="@produto.PrecoBase">
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        }

      </div>
    </div>
    <div class="submit-container">
      <button class="submit-button button" @onclick="SubmitInscricao">Submit</button>
      <button class="cancel-button button" @onclick="GoToFeira">Cancelar</button>
    </div>
  </div>
</AuthorizeView>

<style>

  .input-number {
    flex: 0 0 auto;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
  }

  .por-produto-em-feira-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #ebc39c;
  }

  .por-produto-em-feira-container01 {
    width: 100%;
    height: 96px;
    display: flex;
    position: relative;
    align-items: flex-start;
    background-color: #0f8a82;
  }

  .por-produto-em-feira-container02 {
    flex: 0 0 auto;
    height: 77px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .por-produto-em-feira-container03 {
    flex: 0 0 auto;
    width: 181px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .por-produto-em-feira-thq-dropdown {
    width: 149px;
    cursor: pointer;
    height: 80px;
    display: inline-block;
    position: relative;
    align-self: center;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .por-produto-em-feira-dropdown-toggle {
    fill: #595959;
    color: #595959;
    width: 135px;
    height: 94px;
    display: inline-flex;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }

  .por-produto-em-feira-image {
    width: 88px;
    height: 82px;
    object-fit: cover;
  }

  .por-produto-em-feira-dropdown-list {
    left: 0%;
    width: max-content;
    display: none;
    z-index: 100;
    position: absolute;
    min-width: 100%;
    transition: 0.3s;
    align-items: stretch;
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    list-style-type: none;
    background-color: var(--dl-color-gray-white);
    list-style-position: inside;
  }

  .por-produto-em-feira-dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .por-produto-em-feira-dropdown-toggle1 {
    fill: #595959;
    color: #595959;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-dropdown-toggle1:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }

  .por-produto-em-feira-text {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  .por-produto-em-feira-dropdown1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .por-produto-em-feira-dropdown-toggle2 {
    fill: #595959;
    color: #595959;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-dropdown-toggle2:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }

  .por-produto-em-feira-text01 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  .por-produto-em-feira-dropdown2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .por-produto-em-feira-dropdown-toggle3 {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-dropdown-toggle3:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }

  .por-produto-em-feira-text02 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .por-produto-em-feira-container04 {
    flex: 0 0 auto;
    width: 75%;
    height: 109px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    border-color: #ebc39c;
    border-width: 5px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container05 {
    width: 45%;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-button {
    color: var(--dl-color-gray-white);
    align-self: flex-end;
    transition: 0.3s;
    background-color: #562a2a;
  }

  .por-produto-em-feira-button:hover {
    color: #e5412a;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }

  .por-produto-em-feira-text03 {
    font-style: normal;
    font-weight: 600;
  }

  .por-produto-em-feira-container06 {
    width: 303px;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-textinput {
    width: 294px;
    height: 34px;
    font-size: 16px;
    align-self: center;
  }

  .por-produto-em-feira-container07 {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    border-color: #0f8a82;
    border-style: dashed;
    border-width: 3px;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container08 {
    flex: 0 0 auto;
    width: 360px;
    height: 23px;
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
  }

  .por-produto-em-feira-text06 {
    color: #562a2a;
    font-size: 1em;
  }

  .por-produto-em-feira-container09 {
    flex: 0 0 auto;
    width: 58px;
    height: 23px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-text07 {
    color: #562a2a;
    font-size: 1em;
  }

  .por-produto-em-feira-container10 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container11 {
    flex: 0 0 auto;
    width: 270px;
    height: 258px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container12 {
    flex: 0 0 auto;
    width: 206px;
    height: 190px;
    display: flex;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container13 {
    width: 100%;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .por-produto-em-feira-textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .por-produto-em-feira-container14 {
    width: 185px;
    height: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-text08 {
    color: rgb(86, 42, 42);
    font-size: 1em;
  }

  .por-produto-em-feira-container15 {
    flex: 0 0 auto;
    width: 860px;
    height: 100%;
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container16 {
    width: 428px;
    height: 58px;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }

  .por-produto-em-feira-text09 {
    color: #562a2a;
    font-size: 1.5em;
  }

  .por-produto-em-feira-container17 {
    width: 100%;
    height: 189px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .por-produto-em-feira-container18 {
    flex: 0 0 auto;
    width: 246px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .por-produto-em-feira-container19 {
    flex: 0 0 auto;
    width: 173px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-container20 {
    width: 100%;
    height: 34px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .por-produto-em-feira-text10 {
    color: var(--dl-color-gray-black);
    font-size: 1em;
    margin-left: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-container21 {
    flex: 0 0 auto;
    width: 309px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-container22 {
    flex: 0 0 auto;
    width: 145px;
    @* height: 192px; *@
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container23 {
    width: 100%;
    @* height: 81px; *@
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text11 {
    color: #562a2a;
    font-size: 1.2em;
  }

  .por-produto-em-feira-container24 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container25 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container26 {
    flex: 0 0 auto;
    width: 145px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container27 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text12 {
    color: rgb(86, 42, 42);
    font-size: 1.2em;
  }

  .por-produto-em-feira-container28 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container29 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox1 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container30 {
    width: 100%;
    height: 189px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
  }

  .por-produto-em-feira-container31 {
    flex: 0 0 auto;
    width: 246px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .por-produto-em-feira-container32 {
    flex: 0 0 auto;
    width: 173px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-container33 {
    width: 100%;
    height: 34px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .por-produto-em-feira-text13 {
    color: var(--dl-color-gray-black);
    font-size: 1em;
    margin-left: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-container34 {
    flex: 0 0 auto;
    width: 309px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container35 {
    flex: 0 0 auto;
    width: 145px;
    height: 192px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container36 {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text14 {
    color: #562a2a;
    font-size: 1.2em;
  }

  .por-produto-em-feira-container37 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container38 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox2 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container39 {
    flex: 0 0 auto;
    width: 145px;
    height: 192px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container40 {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text15 {
    color: rgb(86, 42, 42);
    font-size: 1.2em;
  }

  .por-produto-em-feira-container41 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container42 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox3 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container43 {
    width: 100%;
    height: 189px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
  }

  .por-produto-em-feira-container44 {
    flex: 0 0 auto;
    width: 246px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-image3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .por-produto-em-feira-container45 {
    flex: 0 0 auto;
    width: 173px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-container46 {
    width: 100%;
    height: 34px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .por-produto-em-feira-text16 {
    color: var(--dl-color-gray-black);
    font-size: 1em;
    margin-left: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-container47 {
    flex: 0 0 auto;
    width: 309px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container48 {
    flex: 0 0 auto;
    width: 145px;
    height: 192px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container49 {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text17 {
    color: #562a2a;
    font-size: 1.2em;
  }

  .por-produto-em-feira-container50 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container51 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox4 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container52 {
    flex: 0 0 auto;
    width: 145px;
    height: 192px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container53 {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text18 {
    color: rgb(86, 42, 42);
    font-size: 1.2em;
  }

  .por-produto-em-feira-container54 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container55 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox5 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container56 {
    width: 100%;
    height: 189px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
  }

  .por-produto-em-feira-container57 {
    flex: 0 0 auto;
    width: 246px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-image4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .por-produto-em-feira-container58 {
    flex: 0 0 auto;
    width: 173px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-container59 {
    width: 100%;
    height: 34px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .por-produto-em-feira-text19 {
    color: var(--dl-color-gray-black);
    font-size: 1em;
    margin-left: var(--dl-space-space-halfunit);
  }

  .por-produto-em-feira-container60 {
    flex: 0 0 auto;
    width: 309px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }

  .por-produto-em-feira-container61 {
    flex: 0 0 auto;
    width: 145px;
    height: 192px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container62 {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text20 {
    color: #562a2a;
    font-size: 1.2em;
  }

  .por-produto-em-feira-container63 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container64 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox6 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .por-produto-em-feira-container65 {
    flex: 0 0 auto;
    width: 145px;
    height: 192px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .por-produto-em-feira-container66 {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .por-produto-em-feira-text21 {
    color: rgb(86, 42, 42);
    font-size: 1.2em;
  }

  .por-produto-em-feira-container67 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }

  .por-produto-em-feira-container68 {
    flex: 0 0 auto;
    width: 31px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .por-produto-em-feira-checkbox7 {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .adicionar-destacar-container {
    display: flex;
    flex-direction: row;
  }

  .submit-container {
    flex: 0 0 auto;
    width: 104px;
    @* height: 136px; *@
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    z-index: 100000;
    bottom: 20px;
    right: 75px;
  }

  .cancel-button:hover {
    color: #562a2a;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }

  .cancel-button {
    width: 150px;
    height: 46px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-weight: 700;
    border-color: #ebc39c;
    background-color: #562a2a;
    margin-top: 5px;
  }

  .submit-button:hover {
    color: #0f8a82;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }

  .submit-button {
    width: 150px;
    height: 46px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-weight: 700;
    border-color: #0f8a82;
    background-color: #0f8a82;
  }

  .submit-button, .cancel-button {
    color: white;
  }

  @@media(max-width: 1200px) {
    .por-produto-em-feira-container04 {
      width: 981px;
    }

    .por-produto-em-feira-container07 {
      width: 100%;
    }
  }
</style>

@code {
  [Parameter]
  public int ID { get; set; }
  [CascadingParameter]
  public Task<AuthenticationState> authState { get; set; }
  public Feira feira { get; set; } = new Feira()
  {
    NomeFeira = "Feira Não Encontrada",
  };

  private List<Produto> produtos = new List<Produto>();

  private HashSet<int> produtosEscolhidos = new HashSet<int>();

  private IJSObjectReference? module;

  private Feirante feirante = new Feirante();


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      this.module = await JS.InvokeAsync<IJSObjectReference>("import", "./scripts.js");
      Console.WriteLine("tentei importar modulo");
      if (this.module is not null)
      {
        Console.WriteLine("Carregamento bem sucedido");
      }
    }
  }



  protected override async Task OnInitializedAsync()
  {

    var feira = await FeiraService.GetFeira(ID);
    if (feira != null)
    {
      this.feira = feira;
      Console.WriteLine("Categoria da feira" + this.feira.CategoriaID);
      var produtos = await ProdutoService.GetProdutos(this.feira.CategoriaID);

      Console.WriteLine("Procurando produtos");
      if (produtos != null)
      {
        this.produtos = produtos;
      }
    }

    var auth = await this.authState;
    if(auth != null)
    {
      int id = Int32.Parse(auth.User.FindFirst(claim => claim.Type == ClaimTypes.NameIdentifier)?.Value ?? "-1");
      if(id != -1)
      {
        this.feirante = await FeiranteService.GetFeirante(id) ?? new Feirante();
      }
    }
  }

  private async Task OnCheckedProduct(int produto, object checkValue)
  {
    if ((bool)checkValue)
    {
      this.produtosEscolhidos.Add(produto);
      Console.WriteLine("Produto adicionado");
      Console.WriteLine(this.produtosEscolhidos);
    }
    else
    {

      this.produtosEscolhidos.Remove(produto);
      Console.WriteLine(this.produtosEscolhidos);

      if (module is not null)
      {
        await JS.InvokeVoidAsync("resetProduct", produto);
      }
    }
  }

  private async Task SubmitInscricao()
  {
    if (this.produtosEscolhidos.Count() == 0)
    {
      await JS.InvokeVoidAsync("alert", "Terá de adicionar produtos para efetuar inscricão");
      return;
    }

    var auth = await this.authState;
    var feiranteID = Int32.Parse(auth.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "-1");

    if (feiranteID == -1) return;


    var dto = new FeiraSubmitDTO()
    {
      FeiraID = this.feira.ID,
      FeiranteID = feiranteID,
    };

    bool valido = true;
    foreach (var produtoID in this.produtosEscolhidos)
    {
      int quantidade = await JS.InvokeAsync<int>("getProductQuantity", produtoID);
      int preco = await JS.InvokeAsync<int>("getProductPrice", produtoID);
      bool destacado = await JS.InvokeAsync<bool>("estaDestacado", produtoID);
      if (quantidade <= 0 || preco <= 0)
      {
        valido = false;
        break;
      }

      dto.Produtos.Add(produtoID);
      dto.QuantidadeProduto.Add(produtoID, quantidade);
      dto.ProdutoPreco.Add(produtoID, preco);
      if(destacado)
      {
        dto.ProdutosDestacados.Add(produtoID);
      }

    }

    if (valido){
      await this.FeiraService.InscreveEmFeira(dto);
      await JS.InvokeVoidAsync("alert", "Inscrição na feira bem sucedida");
      this.GoToFeira();
    } 
    else await JS.InvokeVoidAsync("alert", "Existem produtos com preços e/ou quantidades inválidas");

  }

  private void GoToFeira()
  {
    Nav.NavigateTo($"/standsfeira/{ID}"); 
  }
}