@page "/proposta/{feiraid:int}/{standid:int}/{id:int}"
@using System.Security.Claims
@attribute [Authorize(Roles = "Cliente")]
@inject IStandService StandService
@inject IFeiraService FeiraService
@inject IPropostaService PropostaService
@inject NavigationManager Navigator
@inject IJSRuntime JS
@using Components


<div class="proposta-container">
    <NavBar />
    @* <div class="proposta-container01">
        <div class="proposta-container02">
            <div class="proposta-container03">
                <div data-thq="thq-dropdown" class="proposta-thq-dropdown list-item">
                    <div data-thq="thq-dropdown-toggle" class="proposta-dropdown-toggle">
                        <a href="/feiras">
                            <img alt="image" src="logo.png" class="proposta-image" />
                        </a>
                    </div>
                    <ul data-thq="thq-dropdown-list" class="proposta-dropdown-list">
                        <li data-thq="thq-dropdown" class="proposta-dropdown list-item">
                            <div data-thq="thq-dropdown-toggle" class="proposta-dropdown-toggle1">
                                <span class="proposta-text">Sobre nós</span>
                            </div>
                        </li>
                        <li data-thq="thq-dropdown" class="proposta-dropdown1 list-item">
                            <div data-thq="thq-dropdown-toggle" class="proposta-dropdown-toggle2">
                                <span class="proposta-text01">Ajuda</span>
                            </div>
                        </li>
                        <li data-thq="thq-dropdown" class="proposta-dropdown2 list-item">
                            <div data-thq="thq-dropdown-toggle" class="proposta-dropdown-toggle3">
                                <span class="proposta-text02">Definições</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="proposta-container04">
            <div class="proposta-container05">
                <button class="proposta-button button">
                    <span class="proposta-text03">
                        <span>Filter</span>
                        <br />
                    </span>
                </button>
            </div>
            <div class="proposta-container06">
                <input type="text" placeholder="Pesquisa" class="proposta-textinput input" />
            </div>
        </div>
    </div> *@
    <div class="proposta-container07">
        <div class="proposta-container08">
            <div class="proposta-container09">
                <h1 class="proposta-text06">
                    @this.feira.NomeFeira
                </h1>
            </div>
            <div class="proposta-container10">
                <h1 class="proposta-text07">20/10</h1>
            </div>
        </div>
        <div class="proposta-container11">
            <div class="proposta-container12">
                <h1 class="proposta-text08">
                    <span>@this.Stand.Feirante.Conta.Nome.ToUpper()</span>
                    <br />
                    <br />
                </h1>
            </div>
        </div>
    </div>
    <EditForm Model="@proposta" class="proposta-container13">
        <div class="proposta-container14">
            <div class="proposta-container15">
                <form class="proposta-form">
                    <div class="proposta-container16">
                        <img alt="image"
                            src="@Produto.Foto"
                            class="proposta-image1" />
                    </div>
                    <div class="proposta-container17">
                        <div class="proposta-container18">
                            <div class="proposta-container19">
                                <h1 class="proposta-text12">Quantidade:</h1>
                            </div>
                            <div class="proposta-container20">
                                <InputNumber @bind-Value="@proposta.Quantidade" placeholder="placeholder" class="proposta-textinput1 input" />
                            </div>
                        </div>
                        <div class="proposta-container21">
                            <div class="proposta-container22">
                                <h1 class="proposta-text13">Preço:</h1>
                            </div>
                            <div class="proposta-container23">
                                <InputNumber @bind-Value="@proposta.Preco" placeholder="placeholder" class="proposta-textinput2 input" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="proposta-container24">
                <div class="proposta-container25">
                    <div class="proposta-container26">
                        <h1 class="proposta-text14">@this.Produto.Nome</h1>
                    </div>
                </div>
                <div class="proposta-container27">
                    <InputText @bind-Value="proposta.Descricao" placeholder="placeholder" class="proposta-textarea textarea" />
                </div>
            </div>
        </div>
        <div class="proposta-container28">
            <div class="proposta-container29">
                <button type="submit" class="proposta-button1 button" @onclick="SendProposta">Publicar</button>
            </div>
            <div class="proposta-container30">
                <button class="proposta-button2 button" @onclick="GoToChatRoom">
                    <span>
                        <span>Ver Chat</span>
                        <br />
                    </span>
                </button>
            </div>
            <div class="proposta-container31">
                <button class="proposta-button3 button" @onclick="GoToStand">
                    <span>
                        <span>Eliminar</span>
                        <br />
                    </span>
                </button>
            </div>
        </div>
    </EditForm>
</div>

<style>
    .proposta-container {
        display: flex;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        background-color: #ebc39c;
    }

    .proposta-container01 {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: flex-start;
        background-color: #0f8a82;
        border-color: #ebc39c;
        border-bottom-width: 5px;
    }

    .proposta-container02 {
        flex: 0 0 auto;
        height: 77px;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .proposta-container03 {
        flex: 0 0 auto;
        width: 181px;
        display: flex;
        align-self: center;
        margin-top: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .proposta-thq-dropdown {
        width: 149px;
        cursor: pointer;
        height: 80px;
        display: inline-block;
        position: relative;
        align-self: center;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .proposta-dropdown-toggle {
        fill: #595959;
        color: #595959;
        width: 135px;
        height: 94px;
        display: inline-flex;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius2);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
        justify-content: center;
    }

    .proposta-image {
        width: 88px;
        height: 82px;
        object-fit: cover;
    }

    .proposta-dropdown-list {
        left: 0%;
        width: max-content;
        display: none;
        z-index: 100;
        position: absolute;
        min-width: 100%;
        transition: 0.3s;
        align-items: stretch;
        border-color: #D9D9D9;
        border-width: 1px;
        border-radius: var(--dl-radius-radius-radius4);
        flex-direction: column;
        list-style-type: none;
        background-color: var(--dl-color-gray-white);
        list-style-position: inside;
    }

    .proposta-dropdown {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .proposta-dropdown-toggle1 {
        fill: #595959;
        color: #595959;
        width: 100%;
        height: 100%;
        display: inline-flex;
        transition: 0.3s;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius4);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
    }

    .proposta-dropdown-toggle1:hover {
        fill: #fff;
        color: #fff;
        background-color: #595959;
    }

    .proposta-text {
        width: 100%;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }

    .proposta-dropdown1 {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .proposta-dropdown-toggle2 {
        fill: #595959;
        color: #595959;
        width: 100%;
        height: 100%;
        display: inline-flex;
        transition: 0.3s;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius4);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
    }

    .proposta-dropdown-toggle2:hover {
        fill: #fff;
        color: #fff;
        background-color: #595959;
    }

    .proposta-text01 {
        width: 100%;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }

    .proposta-dropdown2 {
        cursor: pointer;
        display: inline-block;
        position: relative;
        border-radius: var(--dl-radius-radius-radius2);
    }

    .proposta-dropdown-toggle3 {
        fill: #595959;
        color: #595959;
        width: 100%;
        display: inline-flex;
        transition: 0.3s;
        align-items: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-left: var(--dl-space-space-unit);
        border-radius: var(--dl-radius-radius-radius4);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-halfunit);
    }

    .proposta-dropdown-toggle3:hover {
        fill: #fff;
        color: #fff;
        background-color: #595959;
    }

    .proposta-text02 {
        width: 100%;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    .proposta-container04 {
        flex: 0 0 auto;
        width: 75%;
        height: 100%;
        display: flex;
        align-self: center;
        align-items: flex-start;
        border-color: #ebc39c;
        border-left-width: 5px;
        border-right-width: 5px;
        flex-direction: row;
        justify-content: flex-start;
    }

    .proposta-container05 {
        width: 45%;
        height: 100px;
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .proposta-button {
        color: var(--dl-color-gray-white);
        align-self: flex-end;
        transition: 0.3s;
        background-color: #562a2a;
    }

    .proposta-button:hover {
        color: #e5412a;
        border-color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-white);
    }

    .proposta-text03 {
        font-style: normal;
        font-weight: 600;
    }

    .proposta-container06 {
        width: 303px;
        height: 100px;
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .proposta-textinput {
        width: 294px;
        height: 34px;
        font-size: 16px;
        align-self: center;
    }

    .proposta-container07 {
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        border-color: #0f8a82;
        border-style: dashed;
        border-width: 3px;
        justify-content: flex-start;
    }

    .proposta-container08 {
        flex: 0 0 auto;
        width: 422px;
        height: 22px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: flex-start;
    }

    .proposta-container09 {
        flex: 0 0 auto;
        width: 333px;
        height: 50%;
        display: flex;
        align-items: flex-start;
        margin-left: var(--dl-space-space-unit);
        flex-direction: column;
    }

    .proposta-text06 {
        color: #562a2a;
        font-size: 1em;
    }

    .proposta-container10 {
        flex: 0 0 auto;
        width: 58px;
        height: 23px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-text07 {
        color: #562a2a;
        font-size: 1em;
    }

    .proposta-container11 {
        flex: 0 0 auto;
        width: 1005px;
        height: 19px;
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: center;
    }

    .proposta-container12 {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        align-self: flex-end;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-text08 {
        color: #562a2a;
        width: 83px;
        height: 19px;
        font-size: 1em;
        align-self: flex-end;
    }

    .proposta-container13 {
        width: 100%;
        height: 372px;
        display: flex;
        margin-top: var(--dl-space-space-halfunit);
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .proposta-container14 {
        width: 1136px;
        height: 286px;
        display: flex;
        align-items: flex-start;
        background-color: var(--dl-color-gray-900);
    }

    .proposta-container15 {
        flex: 0 0 auto;
        width: 365px;
        height: 100%;
        display: flex;
        align-items: center;
        border-color: #ebc39c;
        border-style: dashed;
        border-width: 5px;
        flex-direction: row;
        justify-content: center;
    }

    .proposta-form {
        width: 100%;
        height: 227px;
        display: flex;
    }

    .proposta-container16 {
        flex: 0 0 auto;
        width: 234px;
        height: 219px;
        display: flex;
        margin-top: 4px;
        align-items: center;
        margin-left: var(--dl-space-space-halfunit);
        flex-direction: column;
        justify-content: center;
    }

    .proposta-image1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .proposta-container17 {
        width: 138px;
        height: 215px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-container18 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .proposta-container19 {
        flex: 0 0 auto;
        width: 107px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .proposta-text12 {
        color: #0f8a82;
        font-size: 1em;
        text-align: center;
    }

    .proposta-container20 {
        flex: 0 0 auto;
        width: 92px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dl-color-gray-900);
    }

    .proposta-textinput1 {
        width: 82px;
        height: 23px;
    }

    .proposta-container21 {
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .proposta-container22 {
        flex: 0 0 auto;
        width: 100px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .proposta-text13 {
        color: rgb(15, 138, 130);
        font-size: 1em;
    }

    .proposta-container23 {
        flex: 0 0 auto;
        width: 91px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dl-color-gray-900);
    }

    .proposta-textinput2 {
        width: 78px;
        height: 22px;
    }

    .proposta-container24 {
        flex: 0 0 auto;
        width: 755px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-container25 {
        width: 100%;
        height: 75px;
        display: flex;
        align-self: flex-start;
        align-items: center;
        justify-content: flex-start;
    }

    .proposta-container26 {
        flex: 0 0 auto;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .proposta-text14 {
        color: rgb(15, 138, 130);
        font-size: 1em;
        margin-left: 5px;
    }

    .proposta-container27 {
        width: 100%;
        height: 163px;
        display: flex;
        align-items: flex-start;
    }

    .proposta-textarea {
        color: var(--dl-color-gray-white);
        width: 100%;
        height: 100%;
        border-color: #0f8a82;
        background-color: #0f8a82;
        margin-left: 5px;
    }

    .proposta-container28 {
        width: 100%;
        height: 137px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .proposta-container29 {
        flex: 0 0 auto;
        width: 173px;
        height: 49px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-button1 {
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-style: normal;
        text-align: center;
        transition: 0.3s;
        font-weight: 700;
        border-color: #0f8a82;
        background-color: #0f8a82;
    }

    .proposta-button1:hover {
        color: #e5412a;
        border-color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-white);
    }

    .proposta-container30 {
        flex: 0 0 auto;
        width: 173px;
        height: 49px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-button2 {
        color: #ebc39c;
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-style: normal;
        text-align: center;
        transition: 0.3s;
        font-weight: 700;
        margin-left: var(--dl-space-space-unit);
        border-color: #562a2a;
        background-color: #562a2a;
    }

    .proposta-button2:hover {
        color: #e5412a;
        border-color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-white);
    }

    .proposta-container31 {
        flex: 0 0 auto;
        width: 173px;
        height: 49px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .proposta-button3 {
        color: var(--dl-color-gray-white);
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-style: normal;
        text-align: center;
        transition: 0.3s;
        font-weight: 700;
        margin-left: var(--dl-space-space-twounits);
        border-color: #e5412a;
        background-color: #e5412a;
    }

    .proposta-button3:hover {
        color: #e5412a;
        border-color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-white);
    }

    @@media(max-width:1200px) {
        .proposta-container04 {
            width: 981px;
        }

        .proposta-container07 {
            width: 100%;
        }
    }
</style>

@code {
    [Parameter]
    public int FeiraID{ get; set; }
    [Parameter]
    public int StandID{ get; set; }
    [Parameter]
    public int ID { get; set; }

    private Produto Produto;
    private StandFeirante Stand;
    private Feira feira;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState {get; set;}


    private Proposta proposta = new Proposta();

        protected override async Task OnInitializedAsync()
        {
            var feira = await FeiraService.GetFeira(this.FeiraID); 
            if(feira != null)
            {
                this.feira = feira;
            }

            var stand = await StandService.GetStand(this.StandID);
            if(stand != null)
            {
                this.Stand = stand;
            }

            if(stand.ProdutosStands.Any(produtoStand => produtoStand.ProdutoID == ID))
            {
                this.Produto = stand.ProdutosStands.Where(produtoStand => produtoStand.ProdutoID == ID).First().Produto;
                Console.WriteLine($"Produto com id {ID} encontrado");
            }
        }


    private async Task SendProposta()
    {
        var authState = await authenticationState;
        var user = authState.User;

        string? id = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        if(this.proposta.Preco == 0 && this.proposta.Quantidade == 0)
        {
            Console.WriteLine("Precisa de inserir alguma coisa");
            return;
        }

        if(id != null)
        {
            this.proposta.ProdutoID = ID;
            this.proposta.StandFeiranteID = this.StandID;
            this.proposta.ClienteID = Int32.Parse(id);
            var answer = PropostaService.SendProposta(this.proposta);
            if(answer != null)
            {
                await JS.InvokeVoidAsync("alert", "Proposta enviada com sucesso");
                Navigator.NavigateTo($"/standfeira/{this.FeiraID}/{this.StandID}");
            }
            else
            {
                await JS.InvokeVoidAsync("alert", "Ocurreu algum problema a enviar proposta");
            }
        }
        else
        {
            Console.WriteLine("Error finding the id of the logged user");
        }
    }

    private void GoToStand()
    {
        Navigator.NavigateTo($"/standfeira/{this.FeiraID}/{this.StandID}");
    }

    private void GoToChatRoom()
    {
        Navigator.NavigateTo($"/chatroom/{this.FeiraID}/{this.StandID}");
    }
}
